body {
background-color:black;
}

form.container {
width:640px;
height:480px;
font-family:monospace;
background-color:white;
text-align:left;
overflow:scroll;
}

div#top {
font-family:monospace;
text-align:left;
margin:0;
background-color:black;
width:640px;
color:white;
}

input#textentry {
font-family:monospace;
background:0;
border:0;
display:inline;
outline:0;
padding:0;
width:600px;
font-size:inherit;
margin-top: 15px;
}
div.textblock {
margin-top: 15px;
margin-bottom: 0px;
}
